body {
    background-color: powderblue;
}
h1 {
    text-align: center;
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

h3 {
    text-align: center;
    color: blue;
    font-family: verdana;
    font-size: 150%;
}
